$font: 'Roboto','Arial', sans-serif;

$base-color: #2a4290; // blue
$sec-color: #ffffff; // white
$alt-color: #a6aed1; // gray

$tablet-widths: "(min-width: 770px)";
$desktop-widths: "(min-width: 1200px)";

